  <footer class="footer-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>关于我们</h6>
              <p>
                欢迎您与我们联系. <br/>邮箱：  dfinity_buzz@163.com
              </p>
              <p class="footer-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-heart-o" aria-hidden="true"></i> by <a>巴斯光年社区</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>								
            </div>
          </div>
          </div>					
          <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
            <div class="single-footer-widget">
            </div>
          </div>							
        </div>
      </div>
    </footer>	
  </body>
</html>