<%= render 'shared/header' %>

    <!-- start banner Area -->
    <section class="dapp-banner-area relative" id="home">


      <div class="overlay overlay-bg" id="bg_anim"></div>
      
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
          <div class="banner-content col-lg-9 col-md-12">
           <h1 class="text-white text-uppercase">
             &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <h2 id='dapp_title' class="text-white text-uppercase">
            </h2>
           
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <p id='dapp_sub_title' class="text-white">
            </p>
             <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
          </div>											
        </div>
      </div>
    </section>


<p id="notice"><%= notice %></p>

<h1 id='articles_list'></h1>

<%= render 'articles' ,articles:@articles %>
<%= render 'shared/footer' %>