<%= render 'header' %>


<form method="post" id='new_article'>
 
<input type="text" class="common-input-article mt-10" name="title" id='title' /><br />
文章类型：<br>
<input type="radio" name="category" value="mining" checked> 挖矿
<input type="radio" name="category" value="dapp"> dapp
<input type="radio" name="category" value="share"> 分享<br>
<br>
  <div id="editor">
        <p>开始写作吧。。。</p>
    </div>

    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript" src="/js/wangEditor/release/wangEditor.min.js"></script>
     <script src="/js/alert-message.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
        editor.create()
        $(document).ready(function() {
        var form = $('#new_article'); // contact form
        var title = $('#title'); // submit button
        var submit =$('#submit');
        // form submit event 
      form.on('submit', function(e) {
            e.preventDefault(); // prevent default form submit
            token = $('meta[name=csrf-token]').attr('content');   
            category= $("input[name='category']:checked").val(); 
            $.ajax({
                url: '/articles', // form action url
                type: 'POST', // form submit method get/post
                dataType: 'html', // request type html/json/xml
                data: {'article[title]': title.val(),'article[category]': category,'article[body]': editor.txt.html() ,'article[summary]': editor.txt.text()[0,150] ,authenticity_token: token}, // serialize form data
                beforeSend: function() {
                },
                success: function(data) {
                   alertMsg(data); 
                    // savedata(data);
                    // alert.html(data).fadeIn(); // fade in response data
                    // form.trigger('reset'); // reset form
                    // submit.attr("style", "display: none !important");; // reset submit button text
                },
                error: function(e) {
                    console.log(e)
                }
            });
        });
    });
    </script>
      <input type="submit" class="primary-btn mt-20 lnr lnr-arrow-right" id='submit' value="提交" />
    </form>
   
</body>
</html>