<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/css/main.css">
 <script src="/js/jquery.ajaxchimp.min.js"></script>

</head>
<body>

<header>
<h1>新文章</h1>
</header>



<form method="post" id='new_article'>
 
<input type="text" class="common-input-article mt-10" name="title" id='title' /><br />
    <div id="editor">
        <p>开始写作吧。。。</p>
    </div>

    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript" src="/js/wangEditor/release/wangEditor.min.js"></script>
     <script src="/js/alert-message.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
        editor.create()
        $(document).ready(function() {
        var form = $('#new_article'); // contact form
        var title = $('#title'); // submit button
        var submit =$('#submit');
        // form submit event 
      form.on('submit', function(e) {
            e.preventDefault(); // prevent default form submit
            token = $('meta[name=csrf-token]').attr('content')
            $.ajax({
                url: '/articles', // form action url
                type: 'POST', // form submit method get/post
                dataType: 'html', // request type html/json/xml
                data: {'article[title]': title.val(), 'article[body]': editor.txt.html() ,authenticity_token: token}, // serialize form data
                beforeSend: function() {
                },
                success: function(data) {
                   alertMsg(data); 
                    // savedata(data);
                    // alert.html(data).fadeIn(); // fade in response data
                    // form.trigger('reset'); // reset form
                    // submit.attr("style", "display: none !important");; // reset submit button text
                },
                error: function(e) {
                    console.log(e)
                }
            });
        });
    });
    </script>
      <input type="submit" class="primary-btn mt-20 lnr lnr-arrow-right" id='submit' value="提交" />
    </form>
   
</body>
</html>