<%= render 'shared/header' %>

    <!-- start banner Area -->
    <section class="share-banner-area relative" id="home">


      <div class="overlay overlay-bg" id="bg_anim"></div>
      
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
          <div class="banner-content col-lg-9 col-md-12">
           <h1 class="text-white text-uppercase">
             &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <h2 class="text-white text-uppercase">
              信息分享，共同学习!				
            </h2>
           
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <p class="text-white">
              在这里我们共同分享关于Dfinity 的最新进展和相关新闻！
            </p>
             <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
          </div>											
        </div>
      </div>
    </section>


<p id="notice"><%= notice %></p>

<h1>文章目录</h1>

<%= render 'articles' ,articles:@articles %>

<%= render 'shared/footer' %>